.plugin-generator-form {
    margin: 0 auto;
    width: 80%;
}
.form-button-wrapper {
    margin: 15px auto;
    width: 80%;
}
html {
    overflow: hidden;
}
.loader-overlay {
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.loader-overlay > .progress-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.plugin-name-control {
    width: 50%;
}
#transformed_plugin_name_display {
    width: 100%;
}
.transformed-name-control {
    width: 50%;
}
